@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    
}

body{
    height: 100vh;
    background: linear-gradient(to bottom, #a39b86, #866512);
}
header{
    height: 20vh;
    display: block;
    margin: auto;
    background-color: #000000;
    color: white;
 }
header > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    font-size: 2em;
    
    
    text-align: center;
    
}
header > p {
    text-align: center;
    font-size: 1.2em;
    
}
nav > a{
    text-decoration: none;
    padding: 5px;
    
    color: inherit;
    border: 2px solid black;
    font-size: bold;
}
    
nav > a:hover{
    background-color:#7c7226;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.622);
    transition: 0.5s;
}
    
nav.container{
        
    display: block;
    margin-top: 20px;
    padding: 5px;
        
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section#principal{
    margin-top: 30px;
    max-height: 800px;
    width: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c7226;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.523);
    border-radius: 5px;
    
}
section#principal > div#foto{
    display: block;
    background: url(login.jpg) no-repeat;
    background-size: 300px 400px;
    background-position: bottom;
    height: 400px;
    width: 300px;
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    
   
    
}
section#principal > div#formulario{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    height: 400px;
    width: 300px;

    

}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    margin: 20px;

}
div.campo, p{
    margin: 10px;
}
 div#sol{
    margin-top: 30px;    
    height: 40px;
    width: 60px;
    text-align: center;
 }

 input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100px;
    height: 40px;
    background-color: #7d690f;
    color: white;
    text-align: center;
    transform: translatex(80px);
    
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #3d3312;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.622);
    transition: 0.5s;
    border: 1px solid #0a0a0a;
}