@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;

}
header{
    height: 20vh;
    display: block;
    margin: auto;
    background-color: #000000;
    color: white;
}
main{
    height: 73vh;;
}
body{
    background: linear-gradient(to bottom, #7d5f12, #3b2b03);
    
    

}
header > h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
font-size: 2em;


text-align: center;

}
header > p {
    text-align: center;
    font-size: 1.2em;

}
nav > a{
    text-decoration: none;
    padding: 5px;
    color: inherit;
    border: 2px solid black;
    font-size: bold;
}

nav > a:hover{
    background-color: #775506;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.622);
    transition: 0.5s;
}

nav.container{
    
    display: block;
    margin-top: 20px;
    padding: 5px;
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
section#principal{
    
    max-height: 800px;
    width: 60vw;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 11, 11);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.523);
    border-radius: 5px;
    
    

}

div#descricao{
    line-height: 1.9;
    justify-content: center;

    color: white;
    font-size: 15px;
    text-align: center;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.622);
    flex: 1;
    max-height:350px ;
    overflow: scroll;
    overflow: hidden;
    min-height: 350px;
}
div#descricao > p{
    margin: 20px;
}
section#principal > div#foto{
    display: block;
    background: black url(cachorro.jpg) no-repeat;
    background-size: cover;
    background-position: top left ;
    min-height: 350px;
    flex: 1;
    border-radius: 0px 5px 5px 0px;

}
/*faz com que fiquei lado a lado*/
div#descricao, div#foto{
    flex: 1;
    
}


