@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;

}
header{
    height: 20vh;
    display: block;
    margin: auto;
    background-color: #000000;
    color: white;
}
main{
    height: 73vh;;
}
body{
    background: linear-gradient(to bottom, #7d5f12, #3b2b03);
    

}
header > h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
font-size: 2em;


text-align: center;

}
header > p {
    text-align: center;
    font-size: 1.2em;

}
nav > a{
    text-decoration: none;
    padding: 5px;
    color: inherit;
    border: #000000;


}
nav.container{
    display: block;
    
    padding: 5px;
    
}
section#principal{
    display: contents;
    max-height: 500px;
    width: 75vw;

    
    

}

div#descricao{
    display: flex;
    line-height: 1.7;

    color: white;
    font-size: 15px;
    text-align: center;
    padding: 20px;


}


section#principal > div#foto{
    display: block;
    background: black url(cachorro.jpg) no-repeat;
    background-size: cover;
    background-position: top left ;
    height: 300px;

}
/*faz com que fiquei lado a lado*/
div#descricao, div#foto{
    flex: 1;
    padding: 5px;
}


