@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
   
    background: linear-gradient(to bottom, #a39b86, #866512);
    
    
      
}
header{
    height: 20vh;
    display: block;
    margin: auto;
    background-color: #000000;
    color: white;
 }
 header > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    font-size: 2em;
    
    
    text-align: center;
    
}
header > p {
    text-align: center;
    font-size: 1.2em;
    
}
nav > a{
    text-decoration: none;
    padding: 5px;
    
    color: inherit;
    border: 2px solid black;
    font-size: bold;
}
    
nav > a:hover{
    background-color:#7c7226;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.622);
    transition: 0.5s;
}
    
nav.container{
        
    display: block;
    margin-top: 20px;
    padding: 5px;
        
}
main.container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha no centro horizontalmente */
    justify-content: center;
    
    
}
nav#nav2{
    margin: 20px;
}

section#geral{
    display: flex;
    border: 2px solid black;
    width: 70vw;
  
}


section#descricao{
    flex: 1;
}
section#foto{
    flex: 1;
    
    min-width: 400px;
    display: flex;
    margin: 30px;
    
    
    
    
}
div#banho >h1, div#creche > h1{
    text-align: center;
    padding: 20px;
}
div#banho, div#creche{
    text-align: justify;
    padding: 30px;
    font-size: 1.2em;
    
}
div#banho{
    display: block;
}
div#creche{

    display: none;
    
}
div#foto{
    display: block;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    
    border: 2px solid rgb(6, 6, 6);
    background: url(imagens/banho/banho01.jpg) no-repeat ;
    background-size: cover;
    background-position: center bottom;
    
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.622);
}